<a href="{{when absoluteRoomUri absoluteRoomUri uri}}" id="room-item__container" class="room-item__container {{#if active}}active{{/if}}">
  {{#if avatarUrl}}
     <img class="room-item__avatar" {{{ avatarSrcSet avatarUrl 22 }}} >
  {{/if}}
  <h2 id="room-item-title"  class="room-item__title">
    {{#if namePieces}}
      {{~#each namePieces~}}
        <span class="room-item__title-piece">{{this}}</span>
      {{~/each~}}
    {{else if displayName}}
      <span class="room-item__title-piece">{{displayName}}</span>
    {{else}}
      <span class="room-item__title-piece">{{name}}</span>
    {{/if}}
  </h2>
  {{#unless isSearch}}
    <button id="room-item-options-toggle" class="room-item__options" title="Toggle room actions dropdown">
      <i class="room-item__options-icon" aria-hidden="true"></i>
    </button>
  {{/unless}}
  <button class="room-item__favourite-action js-room-favourite-button" title="Favourite {{ name }}">
    <i class="room-item__favourite-action-icon {{#if favourite }}icon-star-1 favourite{{^}}icon-star-empty{{/if}} js-room-favourite-button-icon" aria-hidden="true"></i>
  </button>

  <div class="room-item__unread-indicator pulse-animation {{#if unreadItems}}has-unreads{{else if mentions}}has-mentions{{else if lurkActivity}}has-activity{{/if}}" aria-label="{{#if mentions}}You were mentioned in {{name}}{{else}}Unread activity in a {{name}}{{/if}}">
    {{#if mentions}}
      {{!-- `@` --}}
    {{else if unreadItems}}
      {{unreadItems}}
    {{/if}}
  </div>

</a>
<ul class="room-item__options-menu">
  {{#if isNotOneToOne}}
    <li class="room-item__options-menu__item">
      <button class="room-item__options-menu__item__btn" id="room-item-leave">Leave</button>
    </li>
  {{/if}}
  <li class="room-item__options-menu__item">
    <button class="room-item__options-menu__item__btn" id="room-item-hide">Hide</button>
  </li>
</ul>
