<!doctype html>
<html class="no-js loading {{#if hasCachedFonts}}fonts-loaded{{/if}}" lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=IE10" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
	<meta charset="utf-8">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

	<title>{{troupeName}} - Gitter</title>
  {{#each socialMetadata}}
  <meta property="{{@key}}" content="{{this}}"/>
  {{/each}}
  <link rel="stylesheet" href='{{cdn cssFileName }}'>
  <link id="favicon" rel="shortcut icon" href="{{ cdn 'images/favicon-normal.ico' }}">
  {{#each subresources}}
  <link rel="subresource" href="{{ this }}">
  {{/each}}

  {{> fonts}}

  {{#each dnsPrefetch}}
  <link rel="dns-prefetch" href="{{ this }}">
  {{/each}}
</head>
<body class="logged-out">
  <div class="app-layout">
    <div class="nli-menu__logo">
      {{> logo_man}}
      <img class="nli-menu__logo-text" src='{{cdn "images/gitter-vector-logo.svg"}}'>
    </div>


    <nav class="nli-menu">

      <h1 class="nli-menu__header">
        Where communities thrive
      </h1>

      <h2 class="nli-menu__features-header">
        Free for communities
      </h2>

      <dl class="nli-menu__features">

        <dd>Join over <strong>{{ headlineGitterUsers }} people</strong></dd>
        <dd>Join over <strong>{{ headlineGitterGroups }} communities</strong></dd>
        <dd>Create <strong>your own community</strong></dd>

      </dl>

      <dl class="nli-menu__features">
        <dd><a href="/explore">Explore more communities</a></dd>
      </dl>

      <small class="nli-menu__footer">Browser, <a href="/apps">Desktop</a> and <a href="/apps">Mobile</a> Apps.</small>
    </nav>

    <div id="iframe-region" class="iframe-region">
      <iframe id="content-frame" src="{{chatAppLocation}}" style="display: block; width: 100%; height: 100%; border: 0;" frameBorder="0"></iframe>
    </div>
  </div>

  {{> staging_marker}}


  {{{ generateTroupeContext troupeContext }}}

  {{{ bootScript bootScriptName jsRoot=jsRoot }}}
  {{>live_reload}}

</body>
</html>
