<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gitter Apps</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{cdn 'styles/homepage.css' }}">
        <link id="favicon" rel="shortcut icon" href="{{ cdn 'images/favicon-normal.ico' }}">
    </head>
    <body>
      <header id="intro-panel" class="apps-page-header">
        <nav class="site-nav">
          <div class="wrap">
            <a href="/" class="logo">
              {{> logo_man}}
              <img src="{{ cdn 'images/home/logo_nomargin@2x.png' }}" alt="Gitter" class="logo-image menu-animation">
            </a>
            <span class="desktopOnly"><a class="btn login desktopOnly" href="/login?action=login&source=apps-login">
              <b><span>Open Gitter</b>
            </a>
            </span>
          </div>
        </nav>
        <div class='bg-animation'>{{!-- the div below is responsible for the fadein of the background --}}</div>
      </header>
      <section id="apps-panel">
        <div class="wrap">
          <div class="devices">
            <div class="laptop">
              <img class="screenshot" src="{{cdn 'images/home/screenshot.png'}}">
              <img class="computer" src="{{cdn 'images/home/laptop.png'}}">
            </div>
            <img class="phone" src="{{cdn 'images/home/phone.png'}}">
          </div>
          <h1>Official apps</h1>
          <p>We currently have apps for OSX, iOS, Windows, Ubuntu and Android.</p>
          <p>
            <a class="btn outline" href="https://update.gitter.im/osx/latest" target="_blank" id="osx-download"><i class="icon-apple"></i>OSX</span></a>
            <a class="btn outline" href="https://update.gitter.im/win/latest" target="_blank" id="windows-download"><i class="icon-windows"></i>Windows</a>
            <a class="btn outline" href="https://update.gitter.im/linux32/latest" target="_blank" id="linux32-download"><i class="icon-linux"></i>Ubuntu 32bit</a>
            <a class="btn outline" href="https://update.gitter.im/linux64/latest" target="_blank" id="linux64-download"><i class="icon-linux"></i>Ubuntu 64bit</a>
          </p>
          <p>
            <small>Mac users on 10.9 or lower, <a href="https://s3.amazonaws.com/update.gitter.im/osx/Gitter-1.162.dmg">download here</a>.</small>
          </p>
          <p>
            <a class="btn outline" href="http://appstore.com/gitter" target="_blank"><i class="icon-apple"></i>iPhone</span></a>
            <a class="btn outline" href="https://play.google.com/store/apps/details?id=im.gitter.gitter" target="_blank"><i class="icon-android"></i>Android</span></a>
          </p>
          <p><small>We also have a sweet little <a href="https://irc.gitter.im" target="_blank">IRC bridge</a>.</small></p>
        </div>
      </section>
      <footer id="bottom-panel">
        <div class="wrap">
          <h1>3rd Party Apps</h1>
          <p>These apps have kindly been built by developers using our API</a>. </p>
          <p>
            <a class="btn outline" href="https://www.microsoft.com/store/apps/modern-gitter/9wzdncrd2tzj" target="blank">Modern Gitter for Windows (Phone) 8</a>
            <a class="btn outline" href="https://github.com/huafu/hubot-gitter2" target="_blank">Hubot Adapter</a>
            <a class="btn outline" href="https://github.com/finnp/gitter-irc-bot" target="_blank">IRC Mirroring Bot</a>
            <a class="btn outline" href="https://github.com/RodrigoEspinosa/gitter-cli" target="_blank">Gitter CLI</a>
            <a class="btn outline" href="https://uappexplorer.com/app/gitter.peter-bittner" target="_blank">Ubuntu Touch</a>
            <a class="btn outline" href="https://github.com/errbotio/err-backend-gitter" target="_blank">Errbot Adapter</a>
            <a class="btn outline" href="https://github.com/eklavya/Gitteraqt" target="_blank">Native QML/Qt app</a>
          </p>
          {{> footer_content }}
        </div>
      </footer>
      {{{ generateEnv anonymous=true }}}
      {{{ bootScript "apps" }}}
      <script type="text/javascript" src="//use.typekit.net/ohh4mcl.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </body>
</html>
